.same{
padding-top:0px;
display:inline-block;}
#heading{
font-size:20px;
vertical-align:top;}
#icons{
padding-left:10%;}
.contact{
padding-top:0px;
margin-top:0px;
vertical-align:top;
font-size:35px;
}
.icon{
padding:0px;
margin:0px;
}
.fa {
  font-size:10px;
  width:20px;
  text-decoration: none;
  margin:5px 2px;
}
.fa-facebook {
  color: #3B5998;
}
.fa-twitter {
  color: #55ACEE;
}
.fa-google {
  color: #dd4b39;
}
.fa-linkedin {
  color: #007bb5;
}
.fa-youtube {
  color: #bb0000;
}
img{
width:300px;
height:150px;
padding:0px;
margin:0px;
}
span{
font-size:30px;
padding-top:0px;
}
.post{
padding-left:8%;
background-color:#4CAF50;
padding-top:0px;
margin:0px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border:none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}







.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
padding-top:5px;
  width:50%;
height:50%;
  position: relative;
  margin: auto;
}
.line{
display:inline-block;
padding-top:5px;
}
.list{
width:22.5%;
font-size:35px;
vertical-align:top;
padding-top:0px;
}
ul{
list-style-type:none;
}
li{
padding-bottom:10%;
}
li a{
text-decoration:none;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
hr{
padding:0px;
margin:0px;
}
.partner{
background-color:#3b3a40;
padding:0px;
margin:0px;
color:white;
}
.photo{
padding:2.0%;
padding-bottom:0px;
}
h1{
padding-bottom:25px;
margin:0px;
}